<!doctype html>
<html>
<head>
<title>
    Activism
</title>
</head>
<body>
  <font face="Times New Roman" size="7">
  <h1 align="center">Welcome to Activism</h1>
  </font>
    <nav align="center">
    <font face="Times New Roman" size="6">

        <a href="#" style="display:inline-block;list-style-type:none">Home</a> 
        <a href="#" style="display:inline-block;list-style-type:none">Overview</a>
        <a href="#" style="display:inline-block;list-style-type:none">Mission</a>
 
    </font>
    <font face="Times New Roman" size="4">
    <p>
    Wir sind deine Plattform für spannende Freizeitangebote weg vom Bildschirm, rein ins echte Leben! <br/>
    Unser Ziel ist es, Menschen glücklicher zu machen, indem wir sie inspirieren, neue Aktivitäten auszuprobieren<br/>
    und Zeit miteinander zu verbringen.<br/>
    <br/>
    Ob sportliche Outdoor-Abenteuer, kreative Workshops oder gesellige Events wir zeigen dir Angebote, die zu dir passen.<br/>
    So kannst du abschalten, Spaß haben und echte Verbindungen knüpfen, statt endlos am Smartphone zu scrollen.<br/>
    </p>
    </font>
    </nav>
</body>
<html>